@use './../../../assets/styles/_system' as *;

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: default;

  .table-header, .table-row {
    display: grid;
    grid-template-columns: 50px 1fr 200px 60px; 
    align-items: center;
    gap: $gap-table-items;
  }

  .url {
    cursor: pointer;
  }
}