
/* ------* design tokens *------*/
// spacing
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
$radius-xl: 32px;

/* ------* Semantic *------*/
$radius-card:   $radius-xl;
$radius-tag:    $radius-lg;
$radius-mml:    $radius-md;
$radius-button: $radius-sm;

$padding-card:            $spacing-xl;
$padding-table-row:       $spacing-md;
$padding-table-half-row:  calc($spacing-md / 2);
$padding-tag:             $spacing-xs;

$gap-layout:      $spacing-lg;
$gap-mml-parts:   $spacing-md;
$gap-table-items: $spacing-sm;

/* ------* render *------*/
