
/* ------* font loading *------*/
// styles/_typography.scss

@font-face {
  font-family: 'LINE-Seed-TW';
  src: url('/fonts/LINESeedTW_OTF_Th.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'LINE-Seed-TW';
  src: url('/fonts/LINESeedTW_OTF_Rg.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'LINE-Seed-TW';
  src: url('/fonts/LINESeedTW_OTF_Eb.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'LINE-Seed-TW';
  src: url('/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'LINE-Seed-JP';
  src: url('/fonts/LINESeedJP_OTF_Th.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'LINE-Seed-JP';
  src: url('/fonts/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'LINE-Seed-JP';
  src: url('/fonts/LINESeedJP_OTF_Eb.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'LINE-Seed-JP';
  src: url('/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2');
  font-weight: 800;
}

/* ------* design token *------*/
$font-family-base: 'LINE-Seed-TW', 'LINE-Seed-JP', sans-serif;

$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-32: 32px;
$size-36: 36px;

$weight-100:  100;
$weight-300:  300;
$weight-600:  600;
$weight-800:  800;

/* ------* Semantic *------*/
$font-size-main-title:   $size-36;
$font-size-song-title:   $size-32;
$font-size-body:         $size-14;
$font-size-code:         $size-13;
$font-size-table-header: $size-12;
$font-size-tab:          $size-12;

$font-weight-title:        $weight-800;
$font-weight-table-header: $weight-600;
$font-weight-body:         $weight-300;
$font-weight-info:         $weight-100;

/* ------* render *------*/
:root {
  --font-family: #{$font-family-base};
}

body {
  font-family: var(--font-family);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  input, button, select, textarea {
    font-family: inherit;
  }
}